@media (max-width: 991px) {
    .promo{
        header {
            margin: 0 20px;
        }
    &__wrapper {
     margin-right: 50px;
    }
    }

    .our-advantages {
        padding-left: 20px;
        padding-right: 20px;
        &__card {
            width: 230px;
            img {
                width: 60px;
                height: 60px;
            }
        }
        &__text {
            font-size: 13px;
            margin-top: 10px;
        }
    }
    .consultation {
        &__descr {
            margin-left: 70px;
        }
        .title_left {
            margin-left: 70px;
        }
        .feed-form {
            margin-left: 70px;
        }
    }
 }

@media (max-width: 767px) {
    .promo {
        .header {
            margin: 0 50px;
            &__logo {
                width: 200px;
            }
        &__official {
            display: none;
        }
        .button {
            margin-top: 5px;
        }
        }
        &__wrapper {
            align-items: center; 
            margin-right: 0;
        }
    }
    .our-advantages {
        padding-left: 0;
        padding-right: 0;
        &__cards {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__card {
            &:nth-child(3) {
                margin-top: 30px;
            }
        }
    }
    .consultation {
        .consultation__descr {
            font-size: 18px;
        }
        .title_left {
            font-size: 33px;
        }
    }
    .carousel {
        &__inner {
            width: 600px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 60px;
    }
    .recomendation {
        max-width: 700px;
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 27px;
    }
    .promo {
        &__header {
            text-align: center;
            font-size: 37px;
        }
        &__subheader {
            text-align: center;
            font-size: 19px;
        }
        &__icons {
            width: 100%;
        }
        &__icon {
            width: 100%;
            font-size: 12px;
            margin: 0 10px;
            img {
                width: 35px;
            }
        }
        &__link {
            font-size: 14px;
        }
        .header {
            margin: 0;
            &__logo {
                width: 150px;
                margin-left: 10px;
            }
            &__contacts {
                font-size: 16px;
                align-items: center;
                margin-right: 10px;
            }
            &__phone {
                font-size: 15px;
            }
            .button {
                display: none;
            }          
        }
        .button_media {
            display: block;
            margin-top: 30px;
            width: 100%;
            height: 40px;
        }
        .button_main {
            width: 100%;
        }
    }
    .consultation {
        &__descr {
            margin-left: 20px;
        }
        .consultation__descr {
            font-size: 16px;
            text-align: center;
            margin-right: 20px;
        }
        .title_left {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 27px;
            line-height: 35px;
            text-align: center;
        }
        .feed-form {
            margin-left: 20px;
            margin-right: 20px;
            width: 85%;
        }
    }
    .carousel {
        &__inner {
            width: 310px;
        }
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            margin-top: 30px;
            
        }
        &__tab {
            width: 270px;
            margin: 5px;
        }
        &__content {
            margin-top: 30px;
        }
        &-item {
            width: 280px;
            margin: 0 0 10px 0;
            padding-bottom: 20px;
            min-height: 400px;
            &__subtitle, &__descr,  &__link {
                margin-top: 10px;
                max-width: 230px;
            }
            &__list {
                margin-left: 0px;
                padding-right: 10px;
            }
            &__back {
                margin-bottom: 5px;
            }
            hr {
                margin: 10px 0 12px 0;
            }

        }
    }
    .recomendation {
        min-width: 320px;
        &__card {
            flex-direction: column;
            align-items: center;
            &-descr {
                text-align: center;
                margin-left: 0;
                width: 310px;
                &_name {
                    margin-top: 10px;
                }
                &_text {
                    font-size: 15px;
                }
            }
        }
    }
    .footer {
        height: 450px;
        .iframe_style {
            height: 450px;
        }
        &__info {
            width: 300px;
            height: 200px;
            padding: 20px;
        }
        &__addr {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__phone {
            margin-bottom: 20px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
            &:hover {
                box-shadow:none;
            }
        }
    }
    .overlay {
        .modal {
            min-width: 270px;
            min-height: 300px;
            padding: 20px;
            border-radius: 4px;
            &__close {
                top: -42px;
                right: -6px;
                border: 1px solid $main-color;
                border-radius: 100%;
                padding: 4px;
            }
            &__subtitle {
                font-size: 16px;
            }
            &__descr {
                font-size: 13px;
            }
        }
        .feed-form {
            width: 250px;
            margin: 0 auto;
            margin-top: 15px;
            input {
                height: 40px;
            }
        }
    }
}